body {
    direction: rtl;
}

.box{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
}