/* 靜態排版 */
/* header, content, leftAreaFunction, rightAreaDisplay 是選擇子對應 html 檔中的 id */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

#header {
    background-color: yellow;
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 32pt;
    font-family: '標楷體';
    color: blue;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1%;
    padding-right: 1%;
}

#content {
    background-color: greenyellow;
    width: 100%;
    height: 530px;
     margin-left: auto;
     margin-right: auto;
}

/* 調整水平的對齊，用相對位置與紅色邊線線做調整 */
#leftAreaFunction,#rightAreaDisplay {
    position: relative;
    border: 1px solid red;
    display: inline-block;
    vertical-align: top;
}

#leftAreaFunction {
    background-color: greenyellow;
    width: 25%;
    height: 100%;
}

#rightAreaDisplay {
    background-color: pink;
    width: 73%;
    height: 100%;
}